<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find uthai_description)/urdf/uthai.urdf.xacro'" />
    <!-- send joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
        <rosparam param="source_list">["uthai/joint_states"]</rosparam>
    </node>
    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!-- Show in Rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uthai_description)/config/op3.rviz" />
</launch>